<?xml version="1.0"?>
<!-- vim: set ft=xml: -->
<secret-santa>
   <exchange>  <!-- all fields are free-form text -->
      <name>Sample Exchange</name>
      <organizer>
         <name>Sample Organizer</name>
         <email>pronovic@daystrom</email>
         <phone>612.555.1212</phone>
      </organizer>
      <date-time>Christmas Day, 2002 (time TBD)</date-time>
      <theme>Free Software</theme>
      <cost>$0-$0</cost>
      <greeting>
Hello!  This exchange is a test exchange, that shouldn't
really be used for anything.  You would put the real greeting
that you'd like at the top of the email into this field.
      </greeting>
   </exchange>
   <group>
      <person>
         <id>1</id>
         <name>Person One</name>
         <nickname>One</nickname>
         <email>one@dummy.org</email>
         <conflicts>
            <id>4</id>
         </conflicts>
      </person>
      <person>
         <id>2</id>
         <name>Person Two</name>
         <nickname>Two</nickname>
         <email>two@dummy.org</email>
         <conflicts/>
      </person>
      <person>
         <id>3</id>
         <name>Person Three</name>
         <nickname>Three</nickname>
         <email>three@dummy.org</email>
         <conflicts/>
      </person>
      <person>
         <id>4</id>
         <name>Person Four</name>
         <nickname>Four</nickname>
         <email>four@dummy.org</email>
         <conflicts>
            <id>1</id>
         </conflicts>
      </person>
   </group>
</secret-santa>
